{% load static %}
<!-- Loading static files -->

<!DOCTYPE html>
<!-- HTML document type declaration -->

<html lang="en">
<!-- HTML document language -->

<head>
  <!-- Header section -->

  <meta charset="utf-8">
  <!-- Declaring character set -->

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Setting viewport for responsive design -->

  <title>
    {% block title %}{% endblock title %}
  </title>
  <!-- Setting dynamic title -->

  <meta content="interior design website we deliver products in 1 hours" name="description">
  <!-- Setting description metadata -->

  <meta content="interior design" name="interior,design,Home interior,office interior,products">
  <!-- Setting keywords metadata -->

  <!-- Google Fonts -->
  <!-- Linking Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- Linking vendor CSS files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!-- Linking main CSS file -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <!-- Header section -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">


      <a href="/" class="logo" style="color: white; margin-left: 2px;"><img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">Eco-Mart</a>
      <!--<a href="index.html" class="logo"><img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">Interior Design</a>-->
      <!--<h2 class="logo"><a href="/">Interior Design</a></h2>-->

      <nav id="navbar" class="navbar">
        <!-- Navigation bar -->
        <ul>
          <!-- Navigation links -->
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <!-- Link to Home -->
<!--          <li><a class="nav-link scrollto" href="/blog">Blog</a></li>-->
<!--          <li><a class="nav-link scrollto" href="/about">About</a></li>-->
          <li><a class="nav-link scrollto" href="/checkout">Checkout</a></li>
          <!-- Link to Checkout -->
          <button type="button" class="nav-link scrollto bg-danger p-3 m-2 text-white" id="popcart"
          data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" >
          <i class="fa-solid fa-cart-shopping"></i>  Cart (<span id="cart">0</span>)
          </button>
          <!-- Cart button -->
          <li><a class="nav-link scrollto bg-dark p-2 m-1" href="/contact">Contact</a></li>
          <!-- Link to Contact -->
          <li><a class="nav-link scrollto" href="/profile">Creator's Profile</a></li>
          <!-- Link to Designer's Profile -->

          {% comment %} <li class="dropdown"><a href="#"><span>SignIn</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/auth/signup">Sign UP</a></li>
              <li><a href="/auth/login">Login</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            </ul>
          </li> {% endcomment %}

          <!-- Conditional rendering based on user authentication -->
          {% if request.user.is_authenticated %}
          <li><a  class="nav-link scrollto" href="/auth/logout/">Logout <i class="fa-solid fa-right-from-bracket"></i>

          </a></li>
          {% else %}
          <li class="dropdown"><a href="#"><span>SignIn <i class="fa-solid fa-user"></i></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/auth/signup/">Sign Up <i class="fa-solid fa-user"></i></a></li>
              <li><a href="/auth/login/">Login</a></li>
            </ul>
          </li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- Hero section -->
  <section id="hero">
    <div class="hero-container">

     {% block content %}
     <!-- Content block -->
     {% endblock content %}

    </div>
  </section><!-- End Hero -->

  <main id="main">

   {% block body  %}
   <!-- Body block -->
   {% endblock body  %}

  <!-- ======= Footer ======= -->
  <!-- Footer section -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- Linking vendor JS files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <!-- Linking main JS file -->
  <script src="{% static '/assets/js/main.js'%}"></script>

</body>

</html>