{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block body %}
<section id="portfolio" class="portfolio">
    <div class="container">
        <h1>System Creators</h1>

        <button style="background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;" onclick="window.open('https://mariakhushi.github.io/portfolio/', '_blank')">
            Khushi
        </button>

        <button style="background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;" onclick="window.open('https://ritu.github.io/', '_blank')">

            Ritu
        </button>

        <button style="background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;" onclick="window.open(' https://ferdousi.github.io/Humaira-Protfolio/', '_blank')">
            Ferdousi
        </button>

        <br>
        <br>
        <br>
        <br>
        <h1>Github Contributions</h1>
        <button style="background-color: #000000;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;" onclick="window.open('https://github.com/mariakhushi/Software_Eco-Mart', '_blank')">
            Controbutions
        </button>
</section>
{% endblock body %}