# Default ignored files for project

# IntelliJ IDEA / JetBrains IDE files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage files
/dataSources/
/dataSources.local.xml

# Ignoring specific template files
/templates/about.html
/templates/activate.html
/templates/activatefail.html
/templates/contact.html
/templates/paymentstatus.html
/templates/paytm.html
/templates/signup.html
/templates/signupbasetest.html
/templates/copy.html
/templates/loginbasetest.html
/templates/base.html
/templates/checkout.html
